body {
    margin: 0;
    font-family: Helvetica;
}

* {
    box-sizing: border-box;
}

/* Navigation */
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar, .footer {
    background-color: #0f0f0f;
    color: white;
}

.navbar .container-fluid {
    margin-right: 50px;
}


.navbar ul a, .footer ul a {
    color: white;
    text-decoration: none;
    
}

.navbar ul a:hover, .footer ul a:hover {
    color: rgb(52, 216, 30);
    border-bottom: 2px solid rgb(250, 154, 9);    
}

.navbar li:hover {
    color: rgb(255, 255, 255);
}

.navbar-brand img {
    width: 120px;
    margin-left: 50px;
}


/* Front Image */
.destination {
    margin-top: 10vh;
}

.frontimage {
    position: relative;
}

.destination .card {
    width: 24rem;
    position: absolute;
    top: 60%;
}

.card:hover {
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.5);
    cursor: pointer;
}

.card img {
    filter: brightness(60%);
}

.card:hover img {
    filter: brightness(100%);
    cursor: pointer;
}
.shortridecontainer, .shortplaces, .longridecontainer, .longplaces, .longerridecontainer, .longerplaces {
    margin-top: 35vh;
}

/* Short Ride Text */
.shortridecontainer .grid {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50% 20% 30%;
    width: 80vw;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.shortride {
    grid-row: 1 / 4;
    grid-column: 1/2;
    font-family: Helvetica;
    font-size: 180px;
    font-weight: 900;
    line-height: 1;
    text-align: right;
    padding-right: 50px;
    border-right: 3px solid black;
}

.shortridecaption {
    grid-row: 1/2;
    grid-column: 2/4;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    padding-left: 80px;
    padding-top: 20px;
}
.daytour{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 20px;
    padding-left: 80px;
    padding-top: 20px;
}

.shortinfo{
    grid-row: 3/4;
    grid-column: 2/3;
    text-transform: lowercase;
    padding-left: 80px;
}


/* Long Ride Text */
.longridecontainer .grid {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50% 20% 30%;
    width: 80vw;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.longride {
    grid-row: 1 / 4;
    grid-column: 3/4;
    font-family: Helvetica;
    font-size: 180px;
    font-weight: 900;
    line-height: .9;
    padding-left: 50px;
    border-left: 3px solid black;
}

.longridecaption {
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    padding-right: 80px;
    padding-top: 20px;
    text-align: right;
}

.day2tour {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 20px;
    padding-right: 80px;
    padding-top: 20px;
    text-align: right;
}

.longinfo {
    grid-row: 3/4;
    grid-column: 1/3;
    text-transform: lowercase;
    padding-right: 80px;
    text-align: right;
}

/* Longer Places Text */

.longerridecontainer .grid{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50% 20% 30%;
    width: 80vw;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.longerride {
    grid-row: 1 / 4;
    grid-column: 1/2;
    font-family: Helvetica;
    font-size: 150px;
    font-weight: 900;
    line-height: 1;
    text-align: right;
    padding-right: 50px;
    border-right: 3px solid black;
}

.longerridecaption {
    grid-row: 1/2;
    grid-column: 2/4;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    padding-left: 40px;
    padding-top: 20px;
}

.day3tour {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 20px;
}

.longerinfo {
    grid-row: 3/4;
    grid-column: 2/3;
    text-transform: lowercase;
    padding-left: 40px;
}

/* Footer Start */
.footer {
    padding: 30px 0;
    margin-top: 10vh;
}

.footer ul, .social {
    text-align: center;
}

.footer li {
    padding: 0 12px;
}

/* .footer ul a {
    opacity: .8;
    color:inherit;
    text-decoration: none;
} */

/* .footer ul a:hover {
    opacity: 1;
    border-bottom: 2px solid rgb(52, 41, 211);
} */

/* .social {
    text-align: center;
} */

.social i {
    font-size: 30px;
    margin: 0 10px;
    color: white;
}

.social .bi-facebook:hover {
    color: #1887f2;
}

.social .bi-instagram:hover {
    color: #c32aa3;
}

.social .bi-twitter:hover {
    color: #1da1f2;
}

.social .bi-github:hover {
    color: #ff2052;
}

.social .bi-google:hover {
    color: #4285f4;
}

.madeby {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}