body {
    margin: 0;
    font-family: Helvetica;
}

* {
    box-sizing: border-box;
}

/* Navigation */
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar, .footer {
    background-color: #0d2420;
    color: white;
}

.navbar .container-fluid {
    margin-right: 50px;
}


.navbar ul a, .footer ul a {
    color: white;
    text-decoration: none;
    
}

.navbar ul a:hover, .footer ul a:hover {
    color: #3ed42a;
    border-bottom: 2px solid #ff6a00;  
}

.navbar li:hover {
    color: rgb(255, 255, 255);
}

.navbar-brand img {
    width: 120px;
    margin-left: 50px;
}


/* Front Image */


.frontimage {
    position: relative;
}

.destination {
    margin-left: 60px;
}

.destination .card {
    width: 24rem;
    top: -60%;
    background-color: #0d2420;
    padding-top: 10px;
}

.destination .card a {
    color: #f4f0f4;
    text-decoration: none;
}

.destination .card a:hover h3{
    color: #3ed42a;
}

.destination .card a:hover p{
    color: #ff6a00;
}


.card:hover {
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.5);
}

.card img {
    filter: brightness(60%);
}

.card:hover img {
    filter: brightness(100%);
}

/* card gallery */
.card a {
    color: #0d2420;
    text-decoration: none;
}

.card a:hover {
    color: #0d2420;
}

/* Margin spacing */
.shortridecontainer, .shortplaces, .longridecontainer, .longplaces, .longerridecontainer, .longerplaces {
    margin-top: 20vh;
}

/* Short Ride Text */
.shortridecontainer .grid {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50% 20% 30%;
    width: 80vw;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: #0d2420;
}

.shortride {
    grid-row: 1 / 4;
    grid-column: 1/2;
    font-size: 180px;
    font-weight: 900;
    line-height: 1;
    text-align: right;
    padding-right: 50px;
    border-right: 3px solid #ff6a00;
}

.shortridecaption {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    padding-left: 80px;
    padding-top: 20px;
}
.daytour{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 20px;
    padding-left: 80px;
    padding-top: 20px;
    color: #ff6a00;
}

.shortinfo{
    grid-row: 3/4;
    grid-column: 2/3;
    text-transform: lowercase;
    padding-left: 80px;
}



/* Long Ride Text */
.longridecontainer .grid {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50% 20% 30%;
    width: 80vw;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: #0d2420;
}

.longride {
    grid-row: 1 / 4;
    grid-column: 3/4;
    font-family: Helvetica;
    font-size: 180px;
    font-weight: 900;
    line-height: .9;
    padding-left: 50px;
    border-left: 3px solid #ff6a00;
}

.longridecaption {
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    padding-right: 80px;
    padding-top: 20px;
    text-align: right;
}

.day2tour {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 20px;
    padding-right: 80px;
    padding-top: 20px;
    text-align: right;
    color: #ff6a00;
}

.longinfo {
    grid-row: 3/4;
    grid-column: 1/3;
    text-transform: lowercase;
    padding-right: 80px;
    text-align: right;
}

/* Longer Places Text */

.longerridecontainer .grid{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50% 20% 30%;
    width: 80vw;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: #0d2420;
}

.longerride {
    grid-row: 1 / 4;
    grid-column: 1/2;
    font-family: Helvetica;
    font-size: 150px;
    font-weight: 900;
    line-height: 1;
    text-align: right;
    padding-right: 50px;
    border-right: 3px solid #ff6a00;
}

.longerridecaption {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    padding-left: 40px;
    padding-top: 20px;
}

.day3tour {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 20px;
    color: #ff6a00;
}

.longerinfo {
    grid-row: 3/4;
    grid-column: 2/3;
    text-transform: lowercase;
    padding-left: 40px;
}

/* Footer Start */
.footer {
    padding: 30px 0;
    margin-top: 10vh;
}

.footer ul, .social {
    text-align: center;
}

.footer li {
    padding: 0 12px;
}


.social i {
    font-size: 30px;
    margin: 0 10px;
    color: white;
}

.social .bi-facebook:hover {
    color: #1887f2;
}

.social .bi-instagram:hover {
    color: #c32aa3;
}

.social .bi-twitter:hover {
    color: #1da1f2;
}

.social .bi-github:hover {
    color: #ff2052;
}

.social .bi-google:hover {
    color: #4285f4;
}

.madeby {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}


/* Media Query */

@media screen and (max-width: 720px) {
    .navbar .container-fluid {
        margin-right: 0;
    }

    .navbar-brand img {
        width: 120px;
        margin-left: 50%;
    }

    .destination {
        margin-top: 30vh;
    }

    .destination .card {
        width: 20rem;
        margin-left: 5vw;
        margin-top: 5px;
    }

    .card {
        width: 20rem;
    }

    .shortridecontainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        margin-top: 5vh;
        margin-left: auto;
    }

    .shortride {
        font-size: 80px;
        text-align: center;
        padding-right: 0;
        border: none;
    }

    .shortridecaption {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 30px;
        padding-left: 0;
        padding-top: 20px;
        border-top: 3px solid #ff6a00;
    }

    .daytour{
        grid-row: 3/4;
        grid-column: 1/2;
        padding-left: 0;
        padding-top: 10px;
    }

    .shortinfo{
        grid-row: 4/5;
        grid-column: 1/2;
        padding-left: 0;
    }

    .longridecontainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .longride {
        font-size: 80px;
        text-align: center;
        padding-left: 0;
        border: none;
        grid-column: 1/2;
    }

    .longridecaption {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 30px;
        padding-right: 0;
        /* padding-top: 10px; */
        border-top: 3px solid #ff6a00;
        text-align: center;
    }

    .day2tour{
        grid-row: 3/4;
        grid-column: 1/2;
        padding-right: 0;
        padding-top: 50px;
        text-align: center;
    }

    .longinfo{
        grid-row: 4/5;
        grid-column: 1/2;
        padding-right: 0;
        text-align: center;
    }

    .longerridecontainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        margin-top: 5vh;
    }

    .longerride {
        font-size: 60px;
        text-align: center;
        padding-right: 0;
        border: none;
    }

    .longerridecaption {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 30px;
        padding-left: 0;
        padding-top: 10px;
        border-top: 3px solid #ff6a00;
    }

    .day3tour{
        grid-row: 3/4;
        grid-column: 1/2;
        padding-left: 0;
        padding-top: 50px;
    }

    .longerinfo{
        grid-row: 4/5;
        grid-column: 1/2;
        padding-left: 0;
    }
}